<div class="jumbotron">
    <h1>API</h1>
    <p>
        <ul>
            <li><a href="/api/values/asyncnonblocking">api/values/asyncnonblocking</a></li>
            <li><a href="/api/values/asyncnonblocking_oops">api/values/asyncnonblocking_oops</a></li>
            <li><a href="/api/values/asyncdependant">api/values/asyncdependant</a></li>
            <li><a href="/api/values/asyncdependant_oops">api/values/asyncdependant_oops</a></li>
            <li><a href="/api/values/blocking">api/values/blocking</a></li>
            <li><a href="/api/values/blocking_oops_DEADLOCK">api/values/blocking_oops_DEADLOCK</a></li>
            <li><a href="/api/values/blocking_oops_new_thread">api/values/blocking_oops_new_thread</a></li>
            <li><a href="/api/values/blocking_oops_clear_context">api/values/blocking_oops_clear_context</a></li>
            <li><a href="/api/values/blocking_oops_copy_context_DEADLOCK">api/values/blocking_oops_copy_context_DEADLOCK</a></li>
        </ul>
    </p>
</div>
